body {
    cursor: url("assets/normal.cur"), auto;
    background-color: #ff77ff;
    min-height: 100vh;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

#badges {
    text-align: center;
}

#badges > a {
    text-decoration : none
}

#badges img {
    width: 88px;
    height: 31px;
}