body {
    cursor: url("assets/normal.cur"), auto;
    background-color: #ff77ff;
    min-height: 100vh;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

footer {
    margin-top: 20px;
    text-align: center;
}

.badges a {
    text-decoration : none
}

.badges img {
    width: 88px;
    height: 31px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.infobox {
    border-style:double;
    border-color:purple;
    border-width: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;
    min-width: 200px;
    margin-left: 1px;
    margin-right: 4px;
    margin-bottom: 4px;
}

nav {
    overflow: hidden;
}

nav > .left {
    float: left;
}

nav > .right {
    float: right;
}

@media only screen and (max-width: 600px) {
    nav > .right {
        display:none;
    }
}